//@import "_config.scss";

header {
    position: relative;
    display: block;
    background-color: #222;
    height: 80px;
    padding: 20px;
    color: #61DAFB;

    .App-title {
    position: absolute;
    text-align: justify;
    font-size: 3.5em;
    }

    .User-title {
        position: absolute;
        text-align: justify;
        font-size: 1.5em;
        bottom: 1.5em;
        left: 1.5em;
    }

    .App-links {
    position: absolute;
    top: 50%; right: 15px;
    text-align: right;
  }
  ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
          color: #61DAFB;
          text-decoration: none;
          &:hover {
              color: white;
          }
      }
  }
}

.App {
    text-align: center;
    background-color: #234566;
    height: 1200px; /*dummy number*/
    /*padding-bottom: 5%;*/
}

    .App-body {
        position: relative;
        padding: 20px;
        font-size: large;
        // display: inline;
    }

.Friends-list {
    position: absolute;
    background-color: #f0f0f0;
    width: 18%;
    left: 81%;
    right: 1%;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 1em;

    max-height: 500px;
}

.Game-list {
    position: absolute;
    background-color: #f0f0f0;
    left: 1%;
    width: 79%;
    border: 2px solid black;
    border-radius: 15px;

    max-height: 1000px;
}

.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 1%;
    grid-row-gap: 8%;
    padding-left: 1%; padding-right: 1%;
    padding-bottom: 2%;

    max-height: 90%;
    overflow-y: auto;
}

.grid-item {
    border: 2px solid black;
    border-radius: 25px;
    /*padding: 20px;*/
    width: 100%;
    padding-top: 100%;
    font-size: 150%;
}

.Friend {
    position: relative;
    background-color: #61DAFB;
    height: 4em;
}

.friend-name {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: left; left: 1em;
}

.friend-status {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: right;
    right: 1em;
}

hr {
    border: 2px solid black;
    margin-bottom: 0em; margin-top: 0em;
}

.ContactNames {
    color: white;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 20%;
}

/* Darker chat container */
.darker {
    border-color: #888;
    background-color: #999;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #333;
}

.textPdark {
    margin-right: 50%;
}

.textP {
    margin-left: 50%;
}


body {
  font-family: 'Lucida Sans Unicode';
  background: #4CA1AF;
  background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5);
  background: linear-gradient(to left, #4CA1AF , #C4E0E5);
}

button {
  margin: 0 10px 0 10px;
}

form {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.card, .card-red {
  height: 150px;
  width: 100px;
  background-color: #BFBFBF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-red {
  color: red;
}

.cards {
  margin: 0 auto;
}

.input-bet {
  display: flex;
  justify-content: center;
}

.chat_container {
    height: 35%;
}

.chat_input {
    height: 5%;
}

.chat_messages {
    height: 95%;
    overflow-y: auto;
}